body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #212121;
    color: gold;
    padding: 20px;
    text-align: center;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.gallery img {
    width: 30%;
    border-radius: 5px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
